@import './media-queries';

@mixin grid {
  display: grid;
}

@mixin span($width) {
  grid-column-end: span $width;
}

@mixin columns($n) {
  grid-template-columns: repeat($n, 1fr);
}

@for $n from 2 through 12 {
  .o-grid-#{$n}-columns {
    @include grid;
    @include columns($n);
  }
}

@for $n from 1 through 12 {
  .o-span-#{$n} {
    @include span($n)
  }
}

@for $n from 1 through 12 {
  .o-span-#{$n}-med {
    @media #{$medium-up} {
      @include span($n);
    }
  }
}

@for $n from 1 through 12 {
  .o-span-#{$n}-lg {
    @media #{$large-up} {
      @include span($n);
    }
  }
}